@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap");

:root {
	--borda: 2px solid black;
	--borda-da-caixa: 3px 3px black;
	--background: #cbb798;
	--cor-textos: #51524b;
	--cor-highlights: #8c2c16;
	--transicao-animacoes: 0.3s;
	--animacao-clique: 0.2s;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Source Code Pro", monospace;
	color: var(--cor-textos);
}

body {
	background: var(--background);
	transition: var(--transicao-animacoes);
}

header {
	margin: 20px;
}
header h1 {
	margin: auto;
}
header h1,
section h2 {
	border-bottom: var(--borda);
	width: fit-content;
	padding: 5px 10px;
}
section h2 {
	margin-bottom: 20px;
}

.material-symbols-rounded {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

.mudar-tema {
	padding: 4px 5px;
	background: sandybrown;
	box-shadow: var(--borda-da-caixa);
	border: var(--borda);

	position: absolute;
	top: 15px;
	right: 15px;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: var(--animacao-clique);
}
.mudar-tema:active {
	filter: invert(30%);
}
.mudar-tema .tema-dia {
	color: darkgray;
	display: none;
}
.mudar-tema .tema-noite {
	color: var(--cor-textos);
}

main {
	display: flex;
	flex-direction: column;
	padding: 0px 40px;
	max-width: 1000px;
	margin: auto;
}

main .apresentacao {
	margin-bottom: 30px;
}
main .apresentacao p {
	font-size: 14px;
	border: var(--borda);
	box-shadow: var(--borda-da-caixa);
	background: olive;
	color: beige;
	padding: 20px;
	max-width: 600px;
	margin: auto;

	transition: var(--transicao-animacoes);
}

main .projetos {
	display: flex;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
	max-width: 900px;
	margin: auto;
	margin-bottom: 40px;
	font-size: 18px;

	transition: var(--transicao-animacoes);
}
.projetos section {
	height: 150px;
	width: 200px;
	border: var(--borda);
	box-shadow: var(--borda-da-caixa);

	transition: box-shadow var(--animacao-clique),
		filter var(--transicao-animacoes);
}
.projetos section:hover {
	filter: brightness(1.1);
}
.projetos section:active {
	filter: invert(30%);
}
.projetos img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	object-position: center center;
}